<div class="container">
    <h3 class="titulo text-center">Listado de Propietarios</h3>
    <div class="text-center mb-3">
        <button type="button" class="btn btn-primary" (click)="agregarPropietario()">Agregar</button>
    </div>
    <div class="mt-4">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nombre y Apellido</th>
                <th scope="col">DNI</th>
                <th scope="col">Correo Electronico</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Gestionar</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let p of listaPropietarios">
                <th>{{ p.nombres }} {{ p.apellido }}</th>
                <td>{{ p.dni }}</td>
                <td>{{ p.email }}</td>
                <td>+54 {{ p.telefono }}</td>
                <td>
                    <button type="button" class="btn btn-danger custom-margin" (click)="eliminarPropietario(p._id)">Eliminar</button>
                    <button type="button" class="btn btn-warning" (click)="modificarPropietario(p._id)">Modificar</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
