<div class="container">

    <h3 class="mt-5">Propietarios cargados.</h3>
    <button type="button" class="btn btn-primary" (click)="agregarPropietario()">Agregar</button>

    <div class="mt-4">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nombre y Apellido</th>
                <th scope="col">DNI</th>
                <th scope="col">Correo Electronico</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Gestionar</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let p of listaPropietarios">
                <th>{{ p.nombres }} {{ p.apellido }}</th>
                <td>{{ p.dni }}</td>
                <td>{{ p.email }}</td>
                <td>+54 {{ p.telefono }}</td>
                <td>
                    <button type="button" class="btn btn-danger custom-margin" (click)="eliminarPropietario(p._id)">Eliminar</button>
                    <button type="button" class="btn btn-warning" (click)="modificarPropietario(p._id)">Modificar</button>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- Modal 
    <div class="modal" [ngClass]="{'show': isModalOpen}" (click)="closeModal($event)">
        <div class="modal-content small-modal" (click)="$event.stopPropagation()">
          
          <h4 class="modal-title" style="font-style: italic; color: aliceblue;">Confirmación</h4>
          
          <div class="modal-body">
            <p style="color: orangered;">{{ modalMessage }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" *ngIf="modalAction === 'delete'" (click)="confirmAction()">Eliminar</button>
            <button type="button" class="btn btn-warning" *ngIf="modalAction === 'modify'" (click)="confirmAction()">Modificar</button>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
          </div>
        </div>
    </div>
       Fin Modal -->
    </div>

</div>
