/* Estilos generales para la tarjeta */
.card {
    width: 100%;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    margin: 15px 0;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Estilos específicos para card-alquiler */
.card-alquiler {
    --font-color: #ffffff;
    --font-color-sub: #ffffff;
    --bg-color: #0e010180;
    --main-color: #090101;
    --main-focus: #ff6200;
    width: 300px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    margin: 15px auto;  /* Centrar card-alquiler */
    gap: 10px;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Estilos para la imagen de la tarjeta */
.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;  /* Limita el tamaño máximo del contenedor */
    margin: auto;
}

.card-img img {
    width: 100%;
    height: auto;
    max-width: 150px;  /* Ajusta el tamaño máximo de la imagen */
    border-radius: 5px;
}

/* Estilos para el encabezado de la tarjeta */
.card-header {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--font-color);
    background: var(--main-color);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

/* Estilos para el título de la tarjeta */
.card-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--font-color);
}

/* Estilos para los párrafos */
.card-text {
    font-weight: 500;
    text-align: center;
    color: var(--font-color);
}

/* Estilos para el precio de la tarjeta */
.card-price {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--main-focus);
}

/* Estilos para el botón de la tarjeta */
.card-btn {
    height: 35px;
    background: var(--bg-color);
    border: 2px solid var(--font-color-sub);
    border-radius: 5px;
    padding: 0 15px;
    transition: all 0.3s;
    color: var(--font-color-sub);
}

.card-btn:active {
    transform: translateY(3px);
}

/* Estilos para el campo de fecha */
.form-control {
    border: 2px solid var(--main-color);
    border-radius: 5px;
}
