<div class="card">
    <div class="card-header">
        Formulario de Usuarios
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="espectador" class="form-label">Espectador</label>
                <select name="espectador" id="espectador" [(ngModel)]="pago.local" class="form-select" required>
                  <option *ngFor="let e of listaLocales" [ngValue]="e._id">{{ e.nombre }}</option>
                </select>
              </div>
            <div class="mb-3">
                <label for="nombreUsuario" class="form-label">Mes</label>
                <input name="nombreUsuario" type="date" class="form-control" id="nombreUsuario" [(ngModel)]="pago.mes">
            </div>
            <div class="row form-group">
            <button type="button" class="btn btn-primary mb-3" (click)="registrarPago()">Registrar</button>
            
            <button type="button" class="btn btn-secondary mb-3" (click)="atras()">Atras</button>
</div>
        </form>
    </div>
</div>
