<h3 class="mt-5">GESTION DE LOCAL</h3> 
<form>
    <div class="mb-3">
      <label for="superficie" class="form-label">Superficie</label>
      <input type="number" class="form-control" id="superficie" name="superficie" [(ngModel)]="local.superficie"> 
    </div>       
                                
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="habilitado" name="habilitado" [(ngModel)]="local.habilitado">
        <label class="form-check-label" for="habilitado">Habilitado</label>
    </div>

    <div class="mb-3">
      <label for="costoMes" class="form-label">Costo Mes</label>
      <input type="number" class="form-control" id="costoMes" name="costoMes" [(ngModel)]="local.costomes">
    </div>

    <div class="mb-3">
        <label for="imagenFile" class="form-label">Cargar Imagen (Archivo)</label>
        <input type="file" class="form-control" id="imagenFile" name="imagenFile" (change)="onFileChange($event)">
    </div>

    <div class="mb-3">
        <label for="imagenUrl" class="form-label">Cargar Imagen (URL)</label>
        <input type="text" class="form-control" id="imagenUrl" name="imagenUrl" [(ngModel)]="local.pathimagen">
    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="alquilado" name="alquilado" [(ngModel)]="local.alquilado">
        <label class="form-check-label" for="alquilado">Alquilado</label>
    </div>
    
    <button *ngIf="accion=='new'" type="submit" class="btn btn-primary" (click)="agregarLocal()">Agregar</button>
    <button *ngIf="accion=='update'" type="submit" class="btn btn-success" (click)="actualizarLocal()">Actualizar</button>
  </form>