.local-image {
    width: 100%;
    height: auto;
    max-height: 550px;
    display: block;
    margin: 0 auto;
}

.info-box {
    background-color: rgba(0, 0, 0, 0.195);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}


.btn-success {
    background: linear-gradient(0deg, #000000, #000000); 
    color: #ffffff; 
    border: none; 
}

.btn-success:hover {
    background: linear-gradient(0deg, #000000, #096d02); 
    color: #ffffff; 
}

.btn-outline-secondary {
    background: linear-gradient(0deg, #a37e43, #f1d9aa); 
    color: #000000; 
    border:none
}

.btn-outline-secondary:hover {
    background: linear-gradient(0deg, #ffffff00, #e5b27f); 
    color: #000000; 
    border-color: #000000; 
}




  