<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            Espacio Arte
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

          <ul class="navbar-nav mr-auto" [ngSwitch]="loginService.userLoggedIn() ? 'loggedIn' : 'loggedOut'">
        
            <!-- Público -->
            <ng-container *ngSwitchCase="'loggedOut'">
              <li class="nav-item">
                <a class="nav-link btn btn-outline-light" [routerLink]="['/home']">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-outline-light" [routerLink]="['/login']">Iniciar Sesión</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-outline-light" [routerLink]="['/usuario-form']">Crear Cuenta</a>
              </li>
            </ng-container>
    
            <!-- Usuario Logueado -->
             <!-- ADMINISTRADOR -->
            <ng-container *ngSwitchCase="'loggedIn'">
              <li class="nav-item" *ngIf="isAdmin()">
                <a class="nav-link btn btn-outline-light" [routerLink]="['/crud-usuarios']">Listado Usuarios</a>
              </li>
              <li class="nav-item" *ngIf="isAdmin()">
                <a class="nav-link btn btn-outline-light" [routerLink]="['/local']">Locales</a>
              </li>
              <li class="nav-item" *ngIf="isAdmin()">
                <a class="nav-link btn btn-outline-light" [routerLink]="['/pago']">Listado de Pago</a>
              </li>
              <li class="nav-item dropdown" *ngIf="isAdmin()">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Novedades</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link btn btn-outline-light" [routerLink]="['novedad']">Listado</a></li>
                  <li class="nav-item"><a class="nav-link btn btn-outline-light" [routerLink]="['novedad-form/0']">Crear Novedad</a></li>
                </ul>
            </li>
              <li class="nav-item" *ngIf="isAdmin()">
                <a class="nav-link btn btn-outline-light" [routerLink]="['novedad-form/0']">Crear Novedad</a>
              </li>

              <!-- PROPIETARIO -->
              <li class="nav-item dropdown" *ngIf="isPropi()">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pagos</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link btn btn-outline-light" [routerLink]="['/pago-form']">Realizar Pago</a></li>
                  <li class="nav-item"><a class="nav-link btn btn-outline-light" [routerLink]="['/pago']">Mis Pagos</a></li>
                </ul>
              </li>
              <li class="nav-item" *ngIf="isPropi()">
                <a class="nav-link btn btn-outline-light" [routerLink]="['/alquiler-form/0']">Crear Alquiler</a>
              </li>
              <li class="nav-item dropdown" *ngIf="isPropi()">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Promociones</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link btn btn-outline-light" [routerLink]="['/promo']">Mis Promociones</a></li>
                  <li class="nav-item"><a class="nav-link btn btn-outline-light" [routerLink]="['/promo-form/0']">Crear Promociones</a></li>

                </ul>
              </li>
              <li class="nav-item dropdown" *ngIf="isPropi()">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Propietarios</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link btn btn-outline-light" [routerLink]="['propietario']">Listado</a></li>
                  <li class="nav-item"><a class="nav-link btn btn-outline-light" [routerLink]="['propietario-form/0']">Crear Propietario</a></li>
                </ul>
              </li>


              <!-- DUEÑO -->
              <li class="nav-item" *ngIf="isDuenio()">
                <a class="nav-link btn btn-outline-light" [routerLink]="['/crud-usuarios']">Listado Usuarios</a>
              </li>
              <li class="nav-item" *ngIf="isDuenio()">
                <a class="nav-link btn btn-outline-light" [routerLink]="['/pago']">Listado de Pago</a>
              </li>
              <li class="nav-item" *ngIf="isDuenio()">
                <a class="nav-link btn btn-outline-light" [routerLink]="['/alquiler-form/0']">Crear Alquiler</a>
              </li>
              <li class="nav-item" *ngIf="isDuenio()">
                <a class="nav-link btn btn-outline-light" [routerLink]="['alquiler/pago']">Pagar Alquiler</a>
              </li>



              <!-- Botones Usuario -->
              <li class="nav-item">
                <button class="nav-link btn btn-outline-light" (click)="logout()">Cerrar Sesión</button>
              </li>
            </ng-container>
          </ul>
        </div>
    </div>
</nav>
