<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            GALERIA COMERCIAL
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                
                <!--No se puede acceder a 'alquiler' desde la navbar, se debe acceder desde la imagen del local-->
                <!--<li class="nav-item"><a class="nav-link btn btn-outline-light" [routerLink]="['alquiler']">alquiler</a></li>-->

                <li class="nav-item"><a class="nav-link btn btn-outline-light" [routerLink]="['home']">Home</a></li>
                <li class="nav-item"><a class="nav-link btn btn-outline-light" [routerLink]="['crud-usuarios']">Listado de Usuarios</a></li>

                <li class="nav-item"><a class="nav-link btn btn-outline-light" [routerLink]="['/']">Iniciar Sesion</a></li>
                <li class="nav-item"><a class="nav-link btn btn-outline-light" [routerLink]="['registro']">Crear Cuenta</a></li>
            </ul>
        </div>
    </div>
</nav>