<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/img/alquiler1.jpg" class="d-block w-100 carousel-image" alt="Imagen 1">
      <div class="overlay"></div>
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Cabaña San Pedro En Pueblo Doyle</h1>
          <p class="opacity-75">Ubicada en PUEBLO DOYLE (San Pedro). A 25 minutos del centro sobre ruta 191.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Ver Detalles</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img/alquiler2.jpg" class="d-block w-100 carousel-image" alt="Imagen 2">
      <div class="overlay"></div>
      <div class="container">
        <div class="carousel-caption">
          <h1>Casa Pueblo Verde Pigüé</h1>
          <p>Casa Pueblo Verde cuenta con dos habitaciones y baño completo en planta alta, y cocina comedor integrados, sala de estar y baño completo en planta baja.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Ver Detalles</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img/alquiler3.jpg" class="d-block w-100 carousel-image" alt="Imagen 3">
      <div class="overlay"></div>
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Casa Amoblada En Pueblo Esther Con Piscina</h1>
          <p>Casa amoblada en</p>
          <p><a class="btn btn-lg btn-primary" href="#">Ver Detalles</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<app-local></app-local>