<div class="bg p-3">
  <h3 class="titulo text-center">LISTADO DE PAGO</h3>
  <div class="text-center mb-3">
    <button type="button" class="btn btn-info me-2" (click)="dibujarGrafico()">Ver pagos por mes</button>
    <button type="button" class="btn btn-info me-2" (click)="filtrarLocal()">Ver pagos por local</button>
  </div>
  <div class="mt-2">

    <table class="table table-striped table-hover mt-3">
      <thead>
        <tr>
          <th>ID</th>
          <th>Mes</th>
          <th>Local</th>
          <th>Precio</th>
          <th>Superficie</th>
          <th>    </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of listaPagos">
          <th>{{ t._id }}</th>
          <td>{{ t.mes }}</td>
          <td>{{t.local.nombre}}</td>
          <td>{{t.local.costomes}}</td>
          <td>{{t.local.superficie}}</td>
          <td><button  class="boton-mercadoPago" (click)="mercadoPago(t)">Pagar</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <canvas id="graficoPagosMensuales" width="400" height="400"></canvas>
    <canvas id="local" width="400" height="400"></canvas>
  </div>
