<div class="body">
    <div class="login">
      <h1>{{ accion === 'new' ? 'Registrar Usuario' : 'Modificar Usuario' }}</h1>
      <form name="form" (ngSubmit)="accion === 'new' ? registrarUsuario() : modificarUsuario()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="formcontrol" id="username" name="username" [(ngModel)]="usuario.usuario" required />
          <i class="bi bi-person-fill"></i>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input [type]="mostrarContrasena ? 'text' : 'password'" class="formcontrol"  id="password" name="password" [(ngModel)]="usuario.password" [value]=randomPassword/>
          <i [class]="mostrarContrasena ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'" (click)="verContrasenaEncriptada()"></i>
      </div>
      <div class="form-group">
        <button class="btn btn-secondary" (click)="obtenerRandomPassword()">Generar Contraseña</button>
      </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="formcontrol" id="email" name="email" [(ngModel)]="usuario.email" required />
          <i class="bi bi-person-fill"></i>
        </div>
        <div class="mb-3">
          <select class="form-select" aria-label="Default select example" required [(ngModel)]="usuario.perfil" #perfil="ngModel" name="perfil">
            <option selected value="">Selecciona un perfil</option>
            <option value="Administrativo">Administrativo</option>
            <option value="Dueño">Dueño</option>
            1<option value="Propietario">Propietario</option>
          </select>
          <div *ngIf="perfil.invalid && (perfil.dirty || perfil.touched)" class="alert alert-danger">
            <div *ngIf="perfil.errors?.['required']">El perfil es requerido.</div>
          </div>
          <div class="form-group" *ngIf="accion === 'update' && usuario.perfil === 'Propietario'">
            <button class="btn btn-primary mb-3" (click)="redirigirPropietarioForm()">Modificar Propietario</button>
          </div>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="destacado" (change)="cambiarActivo($event)">
          <label class="form-check-label" for="destacado">Activo?</label>
        </div>

      <!-- Botones Usuario -->
        <div class="form-group">
          <button *ngIf="accion === 'new'" type="submit" class="btn btn-primary mb-3">Agregar</button>
          <button *ngIf="accion === 'update'" type="submit" class="btn btn-success mb-3">Actualizar</button>
          <button type="button" class="btn btn-secondary mb-3" (click)="atras()">Atrás</button>
        </div>
      </form>
    </div>
  </div>
  