@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.aprob{
  height:480px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.aprob h1{
  font-family: 'Dancing Script', cursive;
  font-size:80px;
}
