<form class="m-3 p-3" *ngIf="!form">
    <h1> Formulario de Promociones</h1>
    <div class="mb-3">
      <label for="img" class="form-label">Imagen (URL)</label>
      <input type="text" class="form-control" id="img" name="img" [(ngModel)]="promocion.imagen">
    </div>

    <div class="mb-3">
      <label for="des" class="form-label">Descripcion</label>
      <input type="text" class="form-control" id="des" name="des" [(ngModel)]="promocion.descripcion">
    </div>

    <div class="mb-3">
      <label for="desde" class="form-label">Desde</label>
      <input type="date" min="2024-07-08" class="form-control" id="desde" name="desde" [(ngModel)]="promocion.desde">
    </div>

    <div class="mb-3">
      <label for="hasta" class="form-label">Hasta</label>
      <input type="date"  min="2024-07-08" class="form-control" id="hasta" name="hasta" [(ngModel)]="promocion.hasta">
    </div>

    <div class="mb-3">
      <label for="local" class="form-label">Local</label>
      <select class="form-control" id="local" name="local" [(ngModel)]="promocion.local._id">
        <option *ngFor="let loc of locales" [value]="loc._id">{{ loc._id }}</option>
      </select>
    </div>

    <button *ngIf="accion=='new'" type="submit" class="btn btn-primary" (click)="registrar()">Agregar</button>
    <button *ngIf="accion=='update'" type="submit" class="btn btn-primary" (click)="actualizar()">Actualizar</button>
  </form>


<div class="tabla" *ngIf="form">
    <h1> Tabla de las Promociones cargadas</h1>
    <button type="button" class="btn btn-primary m-3" (click)="agregar()">Agregar</button>
   
    <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Descripcion: </th>
        <th scope="col">Imagen: </th>
        <th scope="col">Desde: </th>
        <th scope="col">Hasta: </th>
        <th scope="col">Funciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of promociones">
        <th>{{e.descripcion}}</th>
        <td>{{e.imagen }}</td>
        <td>{{e.desde | date: 'dd/MM/yyyy'}}</td>
        <td>{{e.hasta | date:'dd/MM/yyyy' }}</td>
        <td>
          <button type="button" class="btn btn-warning m-1" (click)="modificar(e._id)">Modificar</button>
          <button type="button" class="btn btn-danger" (click)="eliminar(e._id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
     </table>
</div>