<form class="m-3 p-3" *ngIf="!form">
  <h1>Formulario de Promociones</h1>
  
  <div class="mb-3">
    <label for="img" class="form-label">Imagen (URL)</label>
    <input type="text" class="form-control" id="img" name="img" [(ngModel)]="promocion.imagen">
  </div>

  <div class="mb-3">
    <label for="des" class="form-label">Descripción</label>
    <input type="text" class="form-control" id="des" name="des" [(ngModel)]="promocion.descripcion">
  </div>

  <div class="mb-3">
    <label for="desde" class="form-label">Desde</label>
    <input type="date" min="2024-07-08" class="form-control" id="desde" name="desde" [(ngModel)]="promocion.desde">
  </div>

  <div class="mb-3">
    <label for="hasta" class="form-label">Hasta</label>
    <input type="date" min="2024-07-08" class="form-control" id="hasta" name="hasta" [(ngModel)]="promocion.hasta">
  </div>

  <div class="mb-3">
    <label for="local" class="form-label">Local</label>
    <select name="local" id="local" [(ngModel)]="promocion.local._id" class="form-select" required>
      <option *ngFor="let l of locales" [ngValue]="l._id">{{ l.nombre }}</option>
    </select>
  </div>

  <button *ngIf="accion=='new'" type="button" class="btn btn-primary" (click)="registrar()">Agregar</button>
  <button *ngIf="accion=='update'" type="button" class="btn btn-primary" (click)="actualizar()">Actualizar</button>
</form>

<div class="row m-3" *ngIf="form">
    <div class="col">
        <div class="row">
            <h3 class="titulo text-center">Promociones Cargadas</h3>
            <div class="text-center mb-3">
                <button type="button" class="btn btn-primary mb-3 mx-3" (click)="agregar()">AGREGAR</button>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">Descripción</th>
                  <th scope="col">Imagen</th>
                  <th scope="col">Desde</th>
                  <th scope="col">Hasta</th>
                  <th scope="col">Funciones</th>
                </tr>
            </thead>
            <tbody >
              <tr *ngFor="let e of promociones">
                <td>{{e.descripcion}}</td>
                <td>{{e.imagen}}</td>
                <td>{{e.desde | date: 'dd/MM/yyyy'}}</td>
                <td>{{e.hasta | date:'dd/MM/yyyy'}}</td>
                <td>
                  <button type="button" class="btn btn-warning m-1" (click)="modificar(e._id)">Modificar</button>
                  <button type="button" class="btn btn-danger m-1" (click)="eliminar(e._id)">Eliminar</button>
                  <button type="button" class="btn btn-primary m-1" (click)="postFb(e.descripcion)">Publicar Facebook </button>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
</div>