footer{
    margin-top: 5%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.47);
    color: white;
    text-align: center;
}

.container-footer{
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
.card-footer{
    text-align: left;
    justify-content: center;
    margin-top: 40px;
    width: 400px;
    margin-bottom: 2%
}
.card-footer li{
    text-decoration: none;
    list-style: none;
}

footer div p{
    font-weight: 600;
    margin-bottom: 6%;
    text-align: center;
}

