<footer>
    <div class="container-footer">
        <div class="card-footer">
            <ul>
                <li>
                    <p>ALANCAY Franco</p>
                </li>
                <li>
                    <p>FLORES Maximiliano</p>
                </li>
            </ul>
        </div>
        <div class="card-footer">
            <ul>
                <li>
                    <p>MONTAÑO Cecilia</p>
                </li>
                <li>
                    <p>SOTO Leonardo</p>
                </li>
            </ul>
        </div>
        <div class="card-footer">
            <ul>
                <li>
                    <p>TORREJÓN Aldana</p>
                </li>
                <li>
                    <p>WEIGERT Karen</p>
                </li>
            </ul>
        </div>
    </div>
</footer>